.community {
  font-size: 16px;
  letter-spacing: 3px;
  padding: 40px 0 30px 40px;
  background-color: #fff;
}

.community > .title-community {
  color: var(--color-cyan);
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.community > .subtitle-community {
  color: var(--color-byellow);
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

.community > .paragraph-community {
  margin-bottom: 20px;
}

@media (max-width: 375px) {
  .community {
    letter-spacing: 1px;
    font-size: 15px;
  }

  .community > .title-community {
    font-size: 20px;
  }

  .community > .subtitle-community {
    font-size: 18px;
  }
}