.container {
  max-width: 1440px;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 5px 4px 16px 2px rgba(51,49,51,0.52);
  border-radius: 10px;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}