.price-community {
  max-width: 720px;
  width: 90vw;
  background-color: #2BB3B1;
  font-size: 16px;
  letter-spacing: 3px;
  padding: 40px 0 30px 40px;
}

.price-community > .title-price {
  color: var(--color-lgray);
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 18px;
}

.price-community > .dolar-price {
  display: inline;
  font-size: 30px;
  color: var(--color-lgray);
  font-weight: bold;
}

.month-price {
  color: var(--color-lgray);
  opacity: 45%;  
}

.full-price {
  color: var(--color-lgray);
  margin-top: 12px;
}

.btn-price {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  color: var(--color-lgray);
  background: var(--color-byellow);
  font-weight: bold;
  font-size: 18px;
  margin-top: 12px;
  box-shadow: 3px 2px 8px 2px rgba(51,49,51,0.52);
}


@media (max-width: 375px){
  .price-community {
    letter-spacing: 1px;
  }

  .price-community > .title-price,
  .price-community > .dolar-price {
    font-size: 20px;
  }

  .full-price {
    font-size: 13px;
  }

  .btn-price {
    font-size: 15px;
    box-shadow: 1.5px 1px 4px 1px rgba(51,49,51,0.52);
  }
}